$primary: #035e96;
$primary_hover: #0477b2; // Lighter shade for hover
$primary_pressed: #02416d; // Darker shade for pressed



$secondary: #0d1958bf;
$secondary_hover: #122794bf;
$secondary_pressed: #122794bf;

// $secondary: #d9b467;
// $secondary_hover: #BF9F5A;
// $secondary_pressed: #997F48;


$dark_charcoal: #2f2f2f;
$dark_grey: #6C7174;
$light: #cdcece;
$white_grey: #f1f3f6;
$white: #ffffff;
$black: #00000000;
$darkblack:#000;
$boxShadow:#0000004d;


$error_100: #DB2323;
$error_80: #E66565;
$error_60: #ED9191;
$error_40: #F4BDBD;
$error_20: #FBE9E9;


$success_100: #14B823;
$success_80: #5BCD65;
$success_60: #89DB91;
$success_40: #B9EABD;
$success_20: #E7F8E9;


$info_100: #0043CE;
$info_80: #2A62D6;
$info_60: #80A1E6;
$info_40: #AAC0EF;
$info_20: #CCD9F5;



$warning_100: #F1C21B;
$warning_80: #F3CC41;
$warning_60: #F8E08D;
$warning_40: #FAEBB3;
$warning_20: #FCF3D1;


$shadow_blue: #787E9B;
$cool_grey: #9198B5;
$cadet_blue: #ADB2C7;
$platinum: #E4E5EC;
$anti_flash_white: #F1F2F6;

$steel_blue: #3D4C8F;
$moonstone_blue: #79AEC2;
$pale_cerulean: #A0C5D4;
$columbia_blue: #C6DCE5;
$flash_white:#ECF3F6;
$Steel: #408BA8;


$card_hover:#ECEEF7;
$row_hover:#F1F2F6;
$red:#cb0e00
