<mat-card class="aadhar-card">
  <mat-icon class="editIcon" title="Edit" *ngIf="!isEdit" (click)="isEdit = !isEdit">edit</mat-icon>
  <button mat-icon-button class="editIcon" *ngIf="isEdit" > <mat-icon title="Save" [ngStyle]="" (click)="saveDetails()">save</mat-icon></button>
<div class="aadhar-card-title-group">
    <div>
      <img src="../../../../assets/download.png" style="width: 38px" />
    </div>
    <div class="aadhar-card-title">
      <label class="marathi-bharat-sarkar"> भारत सरकार </label>
      <label class="eng-bharat-sarkar"> GOVERNMENT OF INDIA </label>
    </div>
    <div>
      <img
        src="../../../../assets/aadhar.png"
        style="width: 90px; border-radius: 6px"
      />
    </div>
  </div>

  <mat-card-content style="margin-bottom:0 ;">
    <div class="addhar-contet">
      <div>
        <img src="../../../../assets/aavtar.png" style="width: 90px;height: 90px" />
      </div>
      <div>
        <form class="aadhar-card-form">
          <table>
            <tr>
              <td><label>Name :</label></td>
              <!-- <td *ngIf="isEdit">
                <input [type]="'text'" [value]="name" /></td> -->
              <td>
                <label>{{ name }}</label>
              </td>
            </tr>
            <tr>
              <td><label>DOB :</label></td>
              <td *ngIf="isEdit"><input type="date" [max]="todays_date" [value]="dob" /></td>
              <td>
                <label *ngIf="!isEdit">{{ dob }}</label>
              </td>
            </tr>
            <tr>
              <td><label>Mobile:</label></td>
              <!-- <td *ngIf="isEdit">
                <input [type]="'text'" [value]="mobile_number" pattern="^\d+$" minlength="10" maxlength="10" />
              </td> -->
              <td>
                <label>{{ mobile_number }}</label>
              </td>
            </tr>
            <tr>
              <td><label>Gender:</label></td>
              <!-- <td *ngIf="isEdit">
                <select name="gender" id="" [value]="gender">
                  <option *ngFor="let g of genders" >{{g}}</option>
                </select>
              </td> -->

              <td>
                <label>{{ gender }}</label>
              </td>
            </tr>
          </table>
        </form>
      </div>
      <div>
        <img
          src="../../../../assets/QRCode.svg"
          style="width: 90px; border-radius: 6px"
        />
      </div>
    </div>
    <div class="aadhar-card-number" >
      <!-- <label *ngIf="!isEdit">{{ addharnumber }}</label> -->
      <!-- <input *ngIf="isEdit" [type]="'text'" [value]="addharnumber" class="aadhar-card-number"/> -->
      <p-inputMask [disabled]="!isEdit" mask="9999 9999 9999" [size]="12" [(ngModel)]="addharnumber" class="aadhar-number"  placeholder="9999 9999 9999"></p-inputMask>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div class="aadhar-card-footer">आधार - भारतीय विशिष्ट पहचान प्राधिकरण</div>
  </mat-card-footer>
</mat-card>
