<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="Kunadali_title"> Pallavi Patil </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="profile_con">
    <div class="profile-mail">
      <mat-icon class="mat-18">mail</mat-icon><span>thakurag.com</span>
    </div>
    <div class="profile-mail">
      <mat-icon class="mat-18">phone</mat-icon><span>7039152302</span>
    </div>
    <div class="profile-mail">
      <mat-icon class="mat-18">room</mat-icon><span>Airoli Navi Mumbai</span>
    </div>
  </div>
  <hr />
  <div class="profile_subcon">
    <div class="profile_subcon_grid">
      <label>Adharcard Number:</label>
      <span>3216735736363218</span>
    </div>
    <div class="profile_subcon_grid">
      <label>Pancard Number:</label>
      <span>CVZPP2043N</span>
    </div>
    <div class="profile_subcon_grid">
      <label>Branch:</label>
      <span>Head Office</span>
    </div>
    <div class="profile_subcon_grid">
      <label>Gendar:</label>
      <span>Female</span>
    </div>
  </div>
</mat-expansion-panel>
<section class="details_container">
  <app-small-card
    [title]="'Home Loan'"
    [sub_title]="'300000/-'"
    [src]="'../../../../../../assets/login.jpeg'"
    [card_content]="'1'"
  ></app-small-card>
  <app-small-card
    [title]="'Home Loan'"
    [sub_title]="'300000/-'"
    [src]="'../../../../../../assets/login.jpeg'"
    [card_content]="'1'"
  ></app-small-card>
  <app-small-card
    [title]="'Home Loan'"
    [sub_title]="'300000/-'"
    [src]="'../../../../../../assets/login.jpeg'"
    [card_content]="'1'"
  ></app-small-card>
  <app-small-card
    [title]="'Home Loan'"
    [sub_title]="'300000/-'"
    [src]="'../../../../../../assets/login.jpeg'"
    [card_content]="'1'"
  ></app-small-card>
  <app-small-card
    [title]="'Home Loan'"
    [sub_title]="'300000/-'"
    [src]="'../../../../../../assets/login.jpeg'"
    [card_content]="'1'"
  ></app-small-card>
</section>
