<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="panelOpenState">
  <mat-expansion-panel-header>
    <mat-panel-title class="Kunadali_title"> {{customerData?.customer_first_name+" "  + customerData?.customer_last_name}} </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="profile_con">
    <div class="profile-mail">
      <mat-icon class="mat-18">mail</mat-icon><span>{{customerData?.customer_email}}</span>
    </div>
    <div class="profile-mail">
      <mat-icon class="mat-18">phone</mat-icon><span>{{customerData?.mobile_number}}</span>
    </div>
    <div class="profile-mail">
      <mat-icon class="mat-18">room</mat-icon><span>{{customerData?.address}}</span>
    </div>
  </div>
  <hr />
  <div class="profile_subcon">
    <div class="profile_subcon_grid">
      <label>Adharcard Number:</label>
      <span>{{customerData?.addharcard_number}}</span>
    </div>
    <div class="profile_subcon_grid">
      <label>Pancard Number:</label>
      <span>{{customerData?.pancard_number}}</span>
    </div>
    <div class="profile_subcon_grid">
      <label>Branch:</label>
      <span>{{getBranchName(customerData?.branch_id)}}</span>
    </div>
    <div class="profile_subcon_grid">
      <label>Gendar:</label>
      <span>{{customerData?.gender}}</span>
    </div>
  </div>
  <div class="identity-cards" >
  <app-aadhar-card [customerDetails]="customerData" *ngIf="customerData" (updateDetails)="getCustomerDetails()" ></app-aadhar-card>
  <app-pan-card 
  *ngIf="customerData"
  [customerDetails]="customerData" 
  (updateDetails)="getCustomerDetails()">
</app-pan-card>
</div>
</mat-expansion-panel>
<section class="details_container">
  <app-small-card
    [title]="'Home Loan'"
    [sub_title]="'300000/-'"
    [src]="'../../../../../../assets/home_loan.svg'"
    [card_content]="'1'"
  ></app-small-card>
  <app-small-card
    [title]="'Car Loan'"
    [sub_title]="'300000/-'"
    [src]="'../../../../../../assets/car_loan.svg'"
    [card_content]="'1'"
  ></app-small-card>
  <app-small-card
    [title]="'Gold Loan'"
    [sub_title]="'300000/-'"
    [src]="'../../../../../../assets/gold_loan.svg'"
    [card_content]="'1'"
  ></app-small-card>
  <app-small-card
    [title]="'Loan Against Property (LAP)'"
    [sub_title]="'300000/-'"
    [src]="'../../../../../../assets/property_loan.svg'"
    [card_content]="'1'"
  ></app-small-card>
  <app-small-card
    [title]="'Travel Loan'"
    [sub_title]="'300000/-'"
    [src]="'../../../../../../assets/travel_loan.svg'"
    [card_content]="'1'"
  ></app-small-card>
</section>
