.Kunadali_title {
  padding: 10px;
  color: white !important;
  background: #035e96;
  font-weight: bolder;
  font-size: 24px;
  border-radius: 8px;
}

.profile_con {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .profile-mail {
    display: flex;
    gap: 10px;
    font-size: 16px;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 50%;
    margin-top: 5px;
  }
}

.profile_subcon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  .profile_subcon_grid {
    display: flex;
    gap: 10px;
    padding: 10px;
    font-size: 16px;

    label {
      font-weight: 800;
    }
  }
}


.identity-cards {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  margin: 10px 0;
  margin-top: 20px;
}

.customer_details {
  display: flex;
      align-items: flex-start;
      justify-content: space-between;
  article {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    app-small-card{
      display: flex;
    }
  }
  .details_container{
      display: grid;
      grid-template-columns: 270px 1fr;
      grid-gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .details_container {
    margin: 10px;
    gap: 10px;
  }

  .profile_subcon {
    gap: 10px;
  }

  .profile_subcon_grid {
    gap: 5px;
  }

  .identity-cards {
    gap: 10px;
  }

}