
<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true" [expanded]="panelOpenState" [disabled]="true">
  <mat-expansion-panel-header>
    <mat-panel-title class="Kunadali_title"> {{customerData?.customer_first_name+" "  + customerData?.customer_last_name}} </mat-panel-title>
  </mat-expansion-panel-header>
</mat-expansion-panel>

<section class="customer_details">
<article class="profile_container">
  <div class="profile_con">
    <div class="profile-mail">
      <mat-icon class="mat-18">mail</mat-icon><span>{{customerData?.customer_email}}</span>
    </div>
    <div class="profile-mail">
      <mat-icon class="mat-18">phone</mat-icon><span>{{customerData?.mobile_number}}</span>
    </div>
    <div class="profile-mail">
      <mat-icon class="mat-18">room</mat-icon><span>{{customerData?.address}}</span>
    </div>
    <div class="profile-mail">
      <mat-icon>account_balance</mat-icon>
      <span>{{getBranchName(customerData?.branch_id)}}</span>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="identity-cards" >
  <app-aadhar-card [customerDetails]="customerData" *ngIf="customerData" (updateDetails)="getCustomerDetails()" ></app-aadhar-card>
  <app-pan-card 
  *ngIf="customerData"
  [customerDetails]="customerData" 
  (updateDetails)="getCustomerDetails()">
</app-pan-card>
</div>
</article>

<article class="details_container">
  <app-small-card
    [title]="'Home Loan'"
    [sub_title]="'300000/-'"
    [src]="'../../../../../../assets/home_loan.svg'"
    [card_content]="'1'"
  ></app-small-card>
  <app-small-card
    [title]="'Car Loan'"
    [sub_title]="'300000/-'"
    [src]="'../../../../../../assets/car_loan.svg'"
    [card_content]="'1'"
  ></app-small-card>
  <app-small-card
    [title]="'Gold Loan'"
    [sub_title]="'300000/-'"
    [src]="'../../../../../../assets/gold_loan.svg'"
    [card_content]="'1'"
  ></app-small-card>
  <app-small-card
    [title]="'Loan Against Property (LAP)'"
    [sub_title]="'300000/-'"
    [src]="'../../../../../../assets/property_loan.svg'"
    [card_content]="'1'"
  ></app-small-card>
  <app-small-card
    [title]="'Travel Loan'"
    [sub_title]="'300000/-'"
    [src]="'../../../../../../assets/travel_loan.svg'"
    [card_content]="'1'"
  ></app-small-card>
</article>
</section>