<div class="add_Customer_con">
  <div class="dailogHeader">
    <div class="dailog-title">
      {{customerData?.customer_id? 'Edit': 'Add'}} Customer
    </div>
    <div class="dailog_cancel_btn" (click)="onNoClick()">+</div>
  </div>
  <div class="add_Customer_form">
    <form [formGroup]="customerForm" class="my-grid-form">
      <div class="my-form-field-half">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="customer_first_name" placeholder="First Name">
          <mat-error
            *ngIf=" customerForm.controls['customer_first_name'].invalid &&(customerForm.controls['customer_first_name'].dirty || customerForm.controls['customer_first_name'].touched)">
            <span *ngIf="customerForm.controls['customer_first_name'].hasError('required')">First Name is
              required.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="my-form-field-half">
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="customer_last_name" placeholder="Last Name">
          <mat-error
            *ngIf=" customerForm.controls['customer_last_name'].invalid &&(customerForm.controls['customer_last_name'].dirty || customerForm.controls['customer_last_name'].touched)">
            <span *ngIf="customerForm.controls['customer_last_name'].hasError('required')">Last Name is required.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="my-form-field-half">
        <mat-form-field appearance="outline">
          <mat-label>Email Id</mat-label>
          <input matInput type="text" formControlName="customer_email" placeholder="Last Name">
          <mat-error
            *ngIf=" customerForm.controls['customer_email'].invalid &&(customerForm.controls['customer_email'].dirty || customerForm.controls['customer_email'].touched)">
            <span *ngIf="customerForm.controls['customer_email'].hasError('required')">Email Id is required.</span>
            <span *ngIf="customerForm.controls['customer_email'].hasError('customer_email')">Invalid Email Id.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="my-form-field-half">
        <mat-form-field appearance="outline">
          <mat-label>Mobile Number</mat-label>
          <input matInput type="text" formControlName="mobile_number" placeholder="Mobile Number">
          <mat-error
            *ngIf=" customerForm.controls['mobile_number'].invalid &&(customerForm.controls['mobile_number'].dirty || customerForm.controls['mobile_number'].touched)">
            <span *ngIf="customerForm.controls['mobile_number'].hasError('required')">Mobile number is required.</span>
            <span *ngIf="customerForm.controls['mobile_number'].hasError('maxlength')">Mobile number cannot be 10
              digits.</span>
            <span *ngIf="customerForm.controls['mobile_number'].hasError('minlength')">Mobile number should be 10
              digits.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="my-form-field-half">
        <mat-form-field appearance="outline">
          <mat-label>Addharcard Number</mat-label>
          <input matInput type="text" formControlName="addharcard_number" placeholder="Addharcard Number">
          <mat-error
            *ngIf=" customerForm.controls['addharcard_number'].invalid &&(customerForm.controls['addharcard_number'].dirty || customerForm.controls['addharcard_number'].touched)">
            <span *ngIf="customerForm.controls['addharcard_number'].hasError('required')">Addharcard Number
              required.</span>
            <span *ngIf="customerForm.controls['addharcard_number'].hasError('pattern')">Addharcard Number length should
              be
              12.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="my-form-field-half">
        <mat-form-field appearance="outline">
          <mat-label>Pancard Number</mat-label>
          <input matInput type="text" formControlName="pancard_number" placeholder="Pancard Number">
          <mat-error
            *ngIf=" customerForm.controls['pancard_number'].invalid &&(customerForm.controls['pancard_number'].dirty || customerForm.controls['pancard_number'].touched)">
            <span *ngIf="customerForm.controls['pancard_number'].hasError('required')">Pancard Number is
              required.</span>
            <span *ngIf="customerForm.controls['pancard_number'].hasError('pattern')">Pancard format is invalid.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="my-form-field-half">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Select Gender" formControlName="gender">
            <mat-option *ngFor="let item of genders" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf=" customerForm.controls['gender'].invalid &&(customerForm.controls['gender'].dirty || customerForm.controls['gender'].touched)">
            <span *ngIf="customerForm.controls['gender'].hasError('required')">Gender is
              required.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="my-form-field-half">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Select branch" formControlName="branch">
            <mat-option *ngFor="let item of branchList" [value]="item.branch_id">
              {{ item.branch_name }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf=" customerForm.controls['branch'].invalid &&(customerForm.controls['branch'].dirty || customerForm.controls['branch'].touched)">
            <span *ngIf="customerForm.controls['branch'].hasError('required')">Branch is
              required.</span>
          </mat-error>
        </mat-form-field>

      </div>
      <div class="my-form-field">
        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <textarea matInput formControlName="address" placeholder="Address"></textarea>
          <mat-error
            *ngIf="customerForm.controls['address'].invalid &&(customerForm.controls['address'].dirty || customerForm.controls['address'].touched)">
            <span *ngIf="customerForm.controls['address'].hasError('required')">Address is required.</span>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <ng-container>
    <div class="dailog_footer">
      <app-button class="form-button" buttonClass="outline_primary" [buttontype]="'mat-button'" ButtonText="Cancel"
        (click)="onNoClick()"></app-button>
      <app-button class="form-button" buttonClass="primary" [buttontype]="'mat-button'" ButtonText="Submit"
        [disabled]="!customerForm.valid" (click)="onSubmitForm()"></app-button>
    </div>
  </ng-container>
</div>