/* .ag-theme-quartz {
     --ag-foreground-color: rgb(16, 100, 9);
     --ag-background-color: rgb(241, 255, 245);
     --ag-header-background-color: rgb(228, 250, 235);
     --ag-row-hover-color: rgb(216, 255, 229);
 } */

 @import 'src/app/commonShared/constants/color.scss';
.customer_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.ag-theme-alpine .no-rows-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: $dark_grey;
  font-size: 16px;
  font-style: italic;
  background-color: $white_grey;
}

.btnContainer {
  button {
    margin: 0 5px;
  }
}

.mat-button-toggle-checked {
  color: $white;
  background-color: $primary;
}

::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 32px;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin: 20px 0;

  .searchbox {
    width: 50%;
  }
  .btnContainer{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    width: 50%;
  }
}