<div class="customerPageContainer">
  <div class="customer_header">
    <label class="headerLabel">
      Customers
    </label>
  </div>

  <div class="top-container">
    <div class="searchbox">
      <app-searchbox (onSearch)="searchCustomer($event)" [searchText]="finder_string" placeholder="Search Customer" ></app-searchbox>
    </div>
    <div class="btnContainer">
      <mat-button-toggle-group [value]="customer_type" (change)="onStatusChange($event)" >
        <mat-button-toggle value="all">All</mat-button-toggle>
        <mat-button-toggle value="active">Active</mat-button-toggle>
        <mat-button-toggle value="inactive">Inactive</mat-button-toggle>
      </mat-button-toggle-group>
      <app-button [buttonClass]="'primary'" [ButtonText]="'Add New Customer'"
        (clicked)="onAddNewCustomer()"></app-button>
    </div>
  </div>

  <ag-grid-angular class="ag-theme-quartz" style="height: 500px; width: 100%;" [rowData]="rowData"
    [columnDefs]="colDefs" [class]="themeClass" [gridOptions]="gridOptions" (rowDoubleClicked)="openKundaliPage($event)"
    [overlayNoRowsTemplate]="noRowsTemplate"></ag-grid-angular>

</div>