/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeng/resources/primeng.css";
@import './app/commonShared/constants/color.scss';




body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

.mat-form-field {
  width: 100%;
}


/* Width and background color of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: $primary;
  // border-radius: 10px;
}

/* Handle (movable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: $primary;
  // border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:$primary;
}



.dailogHeader {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: 1px solid #eceef6;
  margin-bottom: 1em;
  padding-bottom: 1em;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.dailog_cancel_btn {
  font-size: 35px;
  transform: rotate(45deg);
  font-weight: 300;
  padding: 0px;
  cursor: pointer;
}

.dailog_footer {
  padding: 8px 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 52px;
  align-items: center;
  box-sizing: content-box;
  margin-bottom: -24px;
  justify-content: flex-end;
  gap: 10px;
  border-top: 1px solid #eceef6;
  margin-top: 10px;
}

.my-form-field {
  width: 99%;
}

.my-form-field-half {
  width: 49%;
}

.my-grid-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.headerLabel {
  font-size: 20px;
  font-weight: bold;
}

.ag-body {
  min-height: 250px;
}

.notification .swal2-popup.swal2-toast {
  padding: 10px 10px;
  font-size: 12px;

  .swal2-title {
    color: inherit;
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
    margin-right: 0;
  }
}

.notification .swal2-popup.success {
  border-color: #37b400;
  color: #fff;
  background-color: #37b400;
}

.notification .swal2-popup.error {
  border-color: #f31700;
  color: #fff;
  background-color: #f31700;
}

.notification .swal2-popup.info {
  border-color: #0058e9;
  color: #fff;
  background-color: #0058e9;
}

.notification .swal2-popup.warning {
  border-color: #ffc000;
  color: #000;
  background-color: #ffc000;
}

.notification .swal2-icon.swal2-warning {
  color: #424242;
}